<div class = "container">
 <p id="notice"><%= notice %></p>


 <h1> <%= @channel.channel_name %> <h1>

<% if @channel.id == 2 %>
  <%= render 'shared/postsgeneral'%>
<% elsif @channel.id == 1 %>
  <%= render 'shared/postsaskexpert' %>
<% end %>



<%= link_to 'Back', posts_path, class: "mybtn2 btntext2" %>

</div>
