<div class = "newpost" >

  <%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div>
    <%= f.input_field :title, placeholder: "Title", :required => true, class: "form-control" %>
  </div>
  <br>
  <div>
    <%= f.input_field :content, placeholder: "Content", :required => 'required', class: "form-control new-post-content" %>
  </div>
<br>
  <div>
  <%= f.select :channel_id, 
    Channel.all.map {|c| [c.channel_name, c.id]}, 
      {prompt: 'Please choose a channel'},
      :required => true %>
  </div>

  
    <%= f.submit ("Create Post"), class: "mybtn btntext" %>
  
<% end %>


</div>

