<p id="notice"></p><%= notice %>

<h1>Welcome to the Forum!</h1>
<br>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>

  <p>Published <%= time_ago_in_words(post.created_at)%> ago  by <%= post.user.email %></p>
  <br>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  
  <br><br>
      
<% end %>
  


<br>

<%= link_to 'New Post', new_post_path %>

<%= link_to 'Home', root_path %>
