<div class = "container">
 <p id="notice"><%= notice %></p>

  <div class ="content_title"> 
    <h2 class = "post_title"> <%= @post.title.capitalize %> </h2>
  </div>

    <hr>

  <div class = "content_content">
    <h4><%= @post.user.username.capitalize %></h4>

    <h5> <%= @post.content %> </h5>
      
  </div>
  <div class = "post_controls">
    <% if user_signed_in? && current_user.id == @post.user.id %>
    <%= link_to 'Edit', edit_post_path(@post),class: "mybtn2 btntext" %> 
    <%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "mybtn4 btntext2" %>
    <% end %>
  </div>
  

    <hr>
    <hr>

  <div>
    <h5 class = "comments_label"> <%= @post.comments.count %> Comments</h5>
  
    <%= render @post.comments %>
  </div>

  <div class = "container">
    <h3>Reply</h3>

    <%= render "comments/form" %>
  </div>

    
    <div class = "test">

      <%= link_to 'Back', posts_path, class: " basiclink" %> 
    
      

    </div>
  </div>
<%# <br>
<br>
<br> %>
</div>

