<div class = "container">
 <p id="notice"><%= notice %></p>

  <div > 
    <h2 class = "post_title"> <%= @post.title.capitalize %> </h2>
    <p><%=link_to @post.channel.channel_name, @post.channel %></p>
  </div>

    <hr class="thicc">

  <div class = "content_content">
    <% if @post.user.is_expert == true %>
      <%= image_tag("exp_bdg.png", size: "40x40") %>  
      <h4><%= @post.user.username.capitalize %></h4>
      <h6> Financial Aid Expert!</h6>
    <% else %>
      <h4><%= @post.user.username.capitalize %></h4>
    <% end %>

    <h5> <%= @post.content %> </h5>
      
  </div>
  <div class = "post_controls">
    <% if user_signed_in? && current_user.id == @post.user.id || current_user.is_admin == true %>
    <%= link_to 'Edit', edit_post_path(@post),class: "mybtn2 btntext" %> 
    <%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "mybtn4 btntext2" %>
    <% end %>
  </div>
  

    <hr class= "lessthicc">


  <div>
    <h5 class = "comments_label"> <%= @post.comments.count %>
      <% if @post.comments.count == 1 %>
      Comment
      <% else %>
      Comments
      <% end %>
      </h5>
    
    <%= render @post.comments %>
  </div>

  <div>
    <h3>Reply</h3>

    <%= render "comments/form" %>
  </div>
  <%= link_to 'Back', posts_path, class: "mybtn2 btntext2"  %> 
  </div>

</div>

