<!DOCTYPE html>
<html>
  <head>
    <title>Fafsa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>   <%= render 'shared/nav' %> </div>
 
    <%# <div id = "cont"> %>
        <div id ="main"> <%= yield %> </div>

        <div> <%= render 'shared/footer' %></div>
    <%# </div> %>
    
  </body>
</html>
